button {
      width: 40px;
      height: 40px;
      border: 2px solid #ccc;
}

.borderTop {
      border-top: solid 2px #1E4D94
}

.borderBottom {
      border-bottom: solid 2px #1E4D94
}

.borderRight {
      border-right: solid 2px #1E4D94
}

.borderLeft {
      border-left: solid 2px #1E4D94
}

